.admin {
	width: 958px;
	margin: 160px auto 30px;

	table {
		margin-top: 18px;
		margin-bottom: 60px;
	}

	// .subtitle {
	// 	margin-bottom: 24px;
	// }
}

.admin--uppercase {
	text-transform: uppercase;
}

.admin__menu {
	position: fixed;
	left: 69px;
	bottom: 0;
	padding: 0 15px;
	width: 100vh;
	box-sizing: border-box;
	
	transform-origin: 0 100%;
	transform: rotate(-90deg);
}

.admin__item {
	display: inline-block;
	margin-right: calc(100% / 3 - 557px / 3);
	
	@extend .title-font;
	text-align: center;
	font-size: 18px;

	&:last-child {
		margin-right: 0;
	}

	a {
		display: block;
		margin: 0 auto;
		padding: 40px 30px 10px;
	}
}

.admin__title {
	text-align: center;
}

.admin__section {
	margin-bottom: 20px;
}

.admin__stock {
	margin-bottom: 48px;

	text-align: left;
}

.admin__stock-value {
	font-family: $text-font;
}

.admin__content {
	table {
		width: 100%;

		font-size: 14px;

		img {
			height: 100px;
			width: auto;
		}
	}

	tbody tr {
		width: 100%;
		height: auto;
		text-align: left;
	}

	tr {
		border-bottom: 1px solid $white;
	}
	
	th {
		padding: 0 6px 24px;
	}

	td {
		padding: 6px;
	}

	td {
		vertical-align: middle;

		// &:nth-child(2) {
		// 	text-align: center;
		// }
	}

	.cart__products {
		max-height: inherit;
	}
}

.admin__project {
	tr {
		height: 100px;
	}
}

.admin__form {
	// padding-top: 160px;
	text-align: center;

	.form__input--text {
		height: 40px;
	}
	.form__row {
		text-align: left;
		margin-bottom: 20px;
	}
}

.admin__login {
	.admin__form {
		padding-top: 160px;
		.form__row {
			text-align: center;
		}
	}
}

.admin__img {
	margin-bottom: 60px;
	text-align: center;

	img {
		width: auto;
	}
}

.admin__row {
	margin-top: 20px;
	text-align: center;
}
