.customer {
	position: fixed;
	top: 40px;
	right: 294px;
	z-index: 99;
	width: 100px;
	box-sizing: border-box;

	border: 1px solid transparent;
	font-size: 14px;
	transition: border 0.4s ease-out;
	
	@include max-screen($MQ_MEDIUM) {
		top: 23px;
		left: 76px;
		right: auto;
	}

	@include max-screen($MQ_SMALL) {
		top: 60px;
		left: 15px;
		right: auto;
	}
}
