.page--fellowship {
	position: absolute;
}

.fellowship {
	position: fixed;
	top: 0;
	left: calc(50% - 363px);
	width: 726px;
	margin: 0 auto;
	padding-top: calc(50vh - 18px);
	padding-bottom: 80px;
	z-index: 50;

	text-align: center;
	
	@extend .visible;
}

.fellowship--hidden {
	@extend .hidden;
}

.fellowship__bg {
	display: none;
	@extend .visible;
}

.fellowship__bg--hidden {
	@extend .hidden;
}

.fellowship__image {
	margin-bottom: 70px;
}

.fellowship__elliott {
	margin-bottom: 40px;
}

.fellowship__discover {
	&.js-reveal {
		transform: none;
	}
}

.fellowship__video {
	z-index: 0;
}

.fellowship__back {
	position: fixed;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%, 0);

	@extend .hidden;
	
	&.fellowship__back--visible {
		@extend .visible;
	}
}

.fellowship__menu {
	display: none;
}

.youtube-wrapper {
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translate(-50%, 0);
	// width: 100%;
	height: calc(100vh - 206px);

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -5%;
		width: 110%;
		height: 40px;

		background-color: $black;
	}

	&.open {
		&:after {
			display: none;
		}
	}
}

.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// top: 120px;
	// left: 50%;
	// transform: translate(-50%, 0);
	// // width: 100%;
	// height: calc(100vh - 206px);
}

.youtube {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.youtube__file {
	position: absolute;
	top: 50vh;
	left: 50%;
	width: 94%;
	height: 100%;
	transform: translate(-50%, -50%);
	// position: absolute;
	// top: 120px;
	// left: 50%;
	// transform: translate(-50%, 0);
	// width: auto;
	// height: calc(100vh - 206px);
}

@include max-screen(958px) {
	.fellowship {
		position: relative;
		top: initial;
		left: initial;
		width: 100%;
		padding: 50vh 24px 60px;
		box-sizing: border-box;
		transform: none !important;

		text-align: left;

		.column .paragraph:last-child { margin-bottom: 90px; }

		.paragraph span {
			display: block;
			margin-bottom: 12px;
		}
	}
	.fellowship__bg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		// left: 50%;
		// transform: translate(-50%, 0);
		// width: auto;
		width: 100%;
		height: 100%;

		background: url('/static/img/fellowship-mobile.jpg') center center;
		background-size: cover;
	}
	.fellowship__intro .title {
		margin-top: -25px;
	}
	.fellowship__submenu {
		display: none;
	}
	.fellowship__menu {
		display: table;
		table-layout: fixed;
		position: fixed;
		left: 0;
		bottom: 0;
		transform: none;
		width: 100%;
		height: 60px;
		z-index: 60;
		background-color: black;
		text-align: center;
		line-height: 60px;
		border-top: 1px solid white;
	}
	.fellowship__item {
		display: table-cell;
		vertical-align: middle;
		padding: 0 12px;

		&:first-child {
			border-right: 1px solid $white;
		}
	}
	.fellowship__watch, .fellowship__discover {
		display: none;
	}
	.fellowship__back {
		z-index: 70;
		position: fixed;
		left: 0;
		bottom: 0;
		transform: none;
		width: 100%;
		height: 60px;
		background-color: black;
		text-align: center;
		line-height: 60px;
		border-top: 1px solid white;
	}
	.fellowship__video .bg-video__file {
		width: 100%;
		height: auto;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		padding: 0 12px;
		box-sizing: border-box;
	}
	.youtube-wrapper {
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		&:after {
			display: none;
		}
	}
}