.payment {
	width: 958px;
	margin: 0 auto;
	padding-top: 160px;
}

.payment__title {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0);
}

.payment__form {
	display: table;
	table-layout: fixed;
	width: 100%;
}

$margin: 120px;
.payment__column {
	display: table-cell;
	vertical-align: top;
	padding: 0 $margin/4;

	&:first-child {
		padding: 0 $margin/2 0 0;
	}
	&:last-child {
		padding: 0 0 0 $margin/2;
	}
}

.payment__method {
	margin-top: 96px;
}

.payment__pay {
	display: block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 60px;

	color: $white;
	text-align: center;
}

#paymentForm {
	display: none;
}

@include max-screen(958px) {
	.payment {
		width: 100%;
		padding-top: 0;
	}
	.payment__title {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		padding-top: 90px;
		margin-bottom: 30px;

		font-size: 28px;
		text-align: center;
	}
	.payment__form {
		display: block;
	}
	.payment__method {
		margin-top: 30px;
	}
	.payment__column {
		display: block;
		padding: 0 20px;

		&:first-child {
			padding: 0 20px;
		}
		&:last-child {
			padding: 0 20px;
		}
	}
}