.print {
	display: table;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 958px;
}

.print__nav {
	opacity: 0;
	visibility: hidden;
	position: relative;
	z-index: 10;
}

.print__prev, .print__next {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	width: 36px;
	height: 36px;
	cursor: pointer;
}

.print__prev {
	left: 0;
}

.print__next {
	right: 0;
}

.print__left {
	position: relative;
	// width: 50%;
	display: table-cell;
	vertical-align: middle;
	padding-right: 60px;
}

.print__image {
	position: relative;
}

.print__image--portrait {
	width: 60%;
	margin: 0 auto;
	// float: right;
	// margin-right: 24px;
}

.print__file {
	cursor: url('/assets/images/cursor_more.png'), pointer;
}

.print__tech {
	// position: absolute;
	// left: 0;
	// bottom: -24px;
	// transform: translate(0, 100%);
	// width: 110%;
	// margin-left: -5%;

	font-size: 10px;
	line-height: 12px;
	text-align: center;

	p {
		line-height: 12px;
	}
}

.print__infos {
	// width: 50%;
	width: 299px;
	display: table-cell;
	vertical-align: middle;

	text-align: center;
}

.print__price {
	margin: 20px 0 80px;

	@extend .text-font;
	font-size: 16px;
}

.print__desc {
	text-align: left;
}

.print__mobile {
	display: none;
}

.print__serials {
	margin: 40px 0 0;
	position: relative;
}

.print__serial-opt {
	position: relative;
	display: inline-block;
	margin-right: 10px;

	font-size: 16px;
}

.print__select {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
}

.print__serial--selected {
	width: 23px;
	padding-top: 3px;
	padding-bottom: 2px;

	border: 1px solid $white;

	@extend .text-font;
	font-size: 16px;
	line-height: 16px;
	text-align: center;

	cursor: pointer;
}

.print__serial-list {
	// display: inline-block;
	position: absolute;
	left: 0;
	top: 23px;
	width: 23px;
	padding: 2px 0;

	background-color: $black;
	border: 1px solid $white;
	border-top: none;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
    z-index: -1;

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
        z-index: 3;
	}
}

.print__serial {
	position: relative;

	@extend .text-font;
	font-size: 16px;
	line-height: 18px;

	cursor: pointer;
}

.print__serial--disabled {
	cursor: default;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: calc(50% - 2px);
		transform: translate(-50%, 0);
		width: 60%;
		height: 2px;

		background-color: $white;
	}
}

.print__buy-wrapper {
	position: relative;
}

.print__buy {
	display: block;
	margin-top: 50px;
}

.print__buy-error {
	position: absolute;
	bottom: -24px;
	left: 0;

	width: 100%;
}

.bigprint {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;

	text-align: center;

	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
}

.bigprint--hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.bigprint__image {
	width: calc(100% - 120px);
	height: auto;
	cursor: url('/assets/images/cursor_less.png'), pointer;
}

@include max-screen(958px) {
	.page--print {
		.submenu {
			display: none;
		}
	}
	.print {
		display: block;
		// position: relative;
		// left: 0;
		// top: 0;
		// transform: none;
		width: 100%;
		// padding: 160px 38px 0;
		padding: 0 38px;
		box-sizing: border-box;

		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, 25vh);
	}
	.print__nav {
		opacity: 1;
		visibility: visible;
	}
	.print__left, .print__infos {
		padding-right: 0;
		position: relative;
		width: 100%;
		display: block;
	}

	.print__infos {
		padding-bottom: 120px;
	}

	.print__left, .print__file {
		margin-bottom: 30px;
	}
	.print__left {
		text-align: center;
	}
	.print__image {
		width: 100%;
		height: 50vh;
		.print__file {
			width: auto;
			height: 100%;
		}
	}
	.print__image--portrait {
		width: 100%;
		height: 50vh;
		.print__file {
			height: 100%;
			width: auto;
		}
	}
	.print__price {
		margin-bottom: 40px;
	}
	.print__tech {
		position: relative;
		left: 0;
		bottom: 0;
		transform: none;
		width: 100%;
		margin-left: 0;
	}

	.print__buy {
		@extend .mobile-button;
		position: absolute;
		width: 50%;
		left: 50%;
	}
	.print__serials {
		display: none;
	}
	.print__serial-wrapper {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 50%;
		height: 60px;
		background-color: black;
		border-top: 1px solid white;
		border-right: 1px solid white;
		box-sizing: border-box;

		text-align: center;
	}
	.print__serial-opt {
		line-height: 60px;
	}
	.print__select {
		position: static;
		vertical-align: middle;
	}
	.print__serial--selected {
		border: none;
		padding-top: 0;
	}
	.print__serial-list {
		position: absolute;
		bottom: 60px;
		top: inherit;
		width: calc(100% + 1px);

		border-bottom: none;
		border-left: none;
		border-top: 1px solid $white;
	}
	.print__serial {
		line-height: 28px;
	}
	.print__serial--disabled:after {
		width: 30px;
	}
	.bigprint__image {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.print__mobile {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 20;

		display: block;
		opacity: 1;
		animation: fadeInFromNone 0.4s ease-out;
	}

	.print__mobile--hidden {
		display: none;
		opacity: 0;
		animation: fadeOutFromBlock 0.4s ease-out forwards;
	}

}
