.page--project {
	height: 100%;
}

.project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.project__slideshow {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	z-index: 0;
	// $aze: calc(-20vh - 40px);
	// $rty: calc(-50vh + 200px);
	// $top: min($aze, $rty);

	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
}

.project__slideshow--hidden {
	min-height: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.project__content {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 100%;
}

.project__prints {
	// position: relative;
	// z-index: 10;
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);
	// width: 716px;
	// max-height: 478px;
	// height: 68vh;
	// margin: 0 auto;
	position: absolute;
	top: 120px;
	// left: 50%;
	left: 0;
	// transform: translate(-50%, 0);
	width: 100%;
	height: calc(100vh - 206px);

	// transform: translate(0, 0);
	// transition: transform 0.4s ease-out;

	transition: height 0.4s ease-out, top 0.4s ease-out;
}

.project__prints--zoomed {
	height: 100%;
	top: 0;
}

.project__print {
	@extend .vertical-center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	cursor: url('/static/img/cursor_more.cur'), pointer;
	// cursor: url('/static/img/cursor_more.png'), auto;
	// cursor: -webkit-image-set(
	// 	url('/static/img/cursor_more.png') 1x,
	// 	url('/static/img/cursor_more.png') 2x
	// 	), auto;
	// cursor: -webkit-zoom-in;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.project__image {
	height: 100%;
	width: auto;
}

.project__print--current {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out 0.2s, visibility 0.4s steps(1, start) 0.2s;
}

.project__nav {
	width: 100%;
}
.project__prev, .project__next {
	position: absolute;
	// top: calc(50% - 18px);
	top: 50%;
	width: 36px;
	height: 36px;
	
	cursor: pointer;

	&:hover {
		.arrow:before {
			width: 18px;
		}
	}
}

.project__prev {
	left: -42px;
}

.project__next {
	right: -42px;
}

.project__story {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
	transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, end);

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: $black;
		opacity: 0.6;
	}

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, start);
	}

	p {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 474px;
		z-index: 10;

		text-indent: 50px;
		line-height: 28px;
	}
}

.project__footer {
	position: absolute;
	// bottom: 40px;
	// left: 0;
	display: table;
	table-layout: fixed;
	// position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%, 0);
	width: 716px;
	// width: 100%;
	// margin: 60px auto 0;

	font-size: 16px;
}

.project__section {
	display: table-cell;
	vertical-align: bottom;
}

.project__buy {
	float: left;
	clear: left;
	text-align: left;
	line-height: 14px;
}

.project__sharer {
	position: relative;
	float: right;
	clear: right;
	text-align: right;
	line-height: 14px;

	&:hover {
		.project__share {
			@extend .hidden;
		}
		.project__socials {
			@extend .visible;
		}
	}
}

.project__share {
	@extend .title-font;
	font-size: 18px;
	line-height: 18px;
	@extend .visible;

	cursor: pointer;
}

.project__socials {
	width: 175px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	@extend .hidden;
}

.project__social {
	display: inline-block;
	margin: 0 6px;
}

.project__infos {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

.project__back {
	opacity: 0;
	display: none;
}






.project__bigslideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;

	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
}

.project__bigslideshow--hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.project__bigcontent {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: 100%;
}

.project__bigprints {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project__bigprint {
	@extend .vertical-center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.project__bigprint--current {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out 0.2s, visibility 0.4s steps(1, start) 0.2s;
}

.project__bigimage {
	width: calc(100% - 120px);
	height: auto;
	cursor: url('/static/img/cursor_less.cur'), pointer;
}

.project__bigprev, .project__bignext {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	transform: translate(0, -50%);
	z-index: 20;

	cursor: pointer;

	&:hover {
		.arrow:before {
			width: 18px;
		}
	}
}

.project__bigprev {
	left: 12;
}

.project__bignext {
	right: 12px;
}

@include max-screen(958px) {
	.project__content {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100% !important;
	}
	.project__prints {
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		height: initial;
	}

	.project__print {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 100px);
		height: auto;
		cursor: default;
	}
	.project__image {
		height: auto;
		width: 100%;
	}
	.project__prev, .project__next {
		transform: translate(0, -50%);
	}
	.project__prev {
		left: 6px;
	}
	.project__next {
		right: 6px;
	}
	.project__footer {
		display: none !important;
	}
}