.shop {
	position: fixed;
	top: 0;
	left: calc(50% - 479px);
	width: 958px;
	margin: 0 auto;
}

.shopTemp {
	width: 680px;
	margin: 0 auto;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -72px);
	text-align: center;

	p {
		display: block;
		width: 400px;
		margin: 0 auto;
	}

	form {
		width: 200px;
		margin: 30px auto;
	}
}

.page--hidden {
	height: 100vh !important;
	// min-height: 600px;
	// min-height: calc(50vh + 416px);
	overflow: hidden;

	.shop__overlay {
		visibility: visible;
		opacity: 0.8;
		transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
	}

	.shop__intro {
		@extend .visible;
	}
}

.shop__intro {
	position: absolute;
	left: 50%;
	top: calc(50vh - 54px);
	transform: translate(-50%, 0);
	width: 800px;
	margin: 0 auto;
	z-index: 20;
	padding-bottom: 70px;

	text-align: center;

	@extend .hidden;
}

.shop__paragraph {
	width: 474px;
	margin: 0 auto 70px;
}

.shop__discover {
	display: inline-block;
	margin: 0 auto;
}

.shop__list {
	display: table;
	table-layout: fixed;
	position: relative;
	// position: fixed;
	// top: 0;
	// left: 50%;
	// transform: translate(-50%, 0);
	width: 958px;
	margin: 0 auto;
	padding-top: 122px;
	padding-bottom: 40px;

	// -webkit-column-count: 5;
	// -webkit-column-gap:   0px;
	// -moz-column-count:    5;
	// -moz-column-gap:      0px;
	// column-count:         5;
	// column-gap:           0px;
}

.shop__column {
	display: table-cell;
	vertical-align: top;
	padding: 0 5px;
	box-sizing: border-box;
}

.shop__overlay {
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	z-index: 10;

	background-color: $black;

	@extend .hidden;
}

.shop__print {
	position: relative;
	width: 100%;
	height: auto;
	// display: inline-block;
	// vertical-align: top;
	// width: calc(33% - 5px);
	// box-sizing: border-box;
	margin: 0 0 10px 0;

	opacity: 0;
	transform: translate(0, 100px);

	a {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover {
		.shop__hover {
			visibility: visible;
			opacity: 0.8;
			transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
		}
	}
}

.shop__hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: $black;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.shop__detail-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
}

.shop__detail {
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%) translateZ(0);
	width: 100%;
	padding: 20px;
	display: table-cell;
	vertical-align: middle;


	@extend .text-font;
	text-align: center;
	font-size: 16px;

	// @include vertical-center;
}

.shop__city {
	display: inline-block;

	font-style: italic;
	font-size: 30px;
}

.shop__year {
	display: inline-block;
	
	font-size: 30px;
}

.shop__price {
	margin: 20px 0;
}

.shop__details {
	padding-bottom: 6px;
}

.shop__button {
	display: inline-block;
}

@include max-screen(958px) {
	.page--shop.page--hidden {
		overflow: auto;
	}
	
	.shop {
		position: relative;
		top: initial;
		left: initial;
		width: 100%;
		height: 100%;
		padding: 0 24px;
		box-sizing: border-box;
		transform: none !important;
		.title, .shop__paragraph {
			width: 100%;
			margin-bottom: 30px;
		}
		.shop__paragraph {
			margin-bottom: 90px;
		}
	}

	.shop__intro {
		width: 100%;
		padding: 50vh 24px 0;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 0;
		transform: none;

		.title {
			margin-top: -80px;
		}
	}

	.shop__list {
		width: 100%;
		box-sizing: border-box;
		
		padding-top: 90px;
		padding-bottom: 40px;
	}

	.shop__title {
		font-size: 36px;
		line-height: 46px;
	}

	.shop__discover {
		@extend .mobile-button;	
	}

	.shop__print {
		width: 100%;
		opacity: 1;
		transform: none;
		&:hover {
			.shop__hover {
				visibility: hidden;
				opacity: 0;
				transition: none;
			}
		}
	}
}