$cartColor: $black;

.cart {
	position: fixed;
	top: 28px;
	right: 20px;
	z-index: 100;
	width: 274px;
	display: none;
	box-sizing: border-box;

	border: 1px solid transparent;

	font-size: 14px;
}

.cart--black {
	$cartColor: $white;
	background-color: none;
	.cart--enabled {
		border: 1px solid $cartColor;
		.cart__count { border-bottom: 1px solid $cartColor; }
		.cart__checkout, .cart__subtotal { border-top: 1px solid $cartColor; }
	}
	.cart__product { border-bottom: 1px solid $cartColor; }
	.payment__product {
		&:last-child { border-bottom: 1px solid $cartColor; }
	}
	.payment__total { border-bottom: 1px solid $cartColor; }
}

.cart--visible {
	display: block;
}

.cart--enabled {
	background-color: $white;
	border: 1px solid $cartColor;
	
	.cart__content {
		display: block;
	}

	.cart__count { 
		border-bottom: 1px solid $cartColor;
	}

	.cart__checkout, .cart__subtotal {
		border-top: 1px solid $cartColor;
	}
}

.cart__content {
	display: none;
}

.cart__count {
	padding: 12px 20px;

	border-bottom: 1px solid transparent;
	
	text-align: right;

	cursor: pointer;
}

.cart__products {
	height: 142px;
	overflow: scroll;
}

.payment__products {
	height: inherit;
	overflow: auto;
}

.cart__product {
	padding: 16px;
	border-bottom: 1px solid $cartColor;
	font-size: 14px;
	line-height: 16px;
	
	&:last-child {
		border-bottom: 0;
		height: 143px;
	}

	&:first-child {
		height: 142px;
	}
}

.payment__product {
	height: inherit;
	padding: 16px 0;
	
	&:first-child {
		padding: 0 0 16px 0;
		height: inherit;
	}

	&:last-child {
		margin-bottom: 16px;
		border-bottom: 1px solid $cartColor;
		height: inherit;
	}
}

.cart__column {
	width: 50%;
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	line-height: 16px;
}

.cart__details {
	font-family: $text-font;
	font-size: 14px;
	margin-bottom: 18px;
}

.cart__city, .cart__year {
	display: inline-block;
}

.cart__city {
	font-style: italic;
}

.cart__quantity, .cart__number, .cart__price {
	font-family: $text-font;
}

.cart__currency {
	@extend .title-font;
}

.cart__print {
	width: 100%;
	height: 84px;
	margin-bottom: 12px;
}

.cart__image {
	width: auto;
	height: 100%;
}

.cart__remove {
	font-size: 12px;
	line-height: 14px;
}

.cart__subtotal {
	padding: 20px;
	
	border-top: 1px solid transparent;
}

.payment__total {
	padding: 0 0 16px 0;
	margin-bottom: 16px;
	border-bottom: 1px solid $cartColor;
}

.payment__subtotal {
	padding: 0;
	border-top: 0;
}

.cart__bigtotal {
	margin-bottom: 30px;
}

.cart__checkout {
	padding: 20px;
	
	border-top: 1px solid transparent;
}

.cart__button {
	font-family: $text-font;
	font-size: 14px;
	line-height: 24px;
}