.cart {
	position: fixed;
	top: 24px;
	right: 24px;
	display: none;
}

.cart--visible {
	display: block;
}

.cart--enabled {
	.cart__content {
		display: block;
	}
}

.cart__close {
	position: absolute;
	top: 0;
	right: 0;
}

.cart__content {
	display: none;
}