.page--fellowship {
	position: absolute;
}

.fellowship {
	position: fixed;
	top: 0;
	left: calc(50% - 363px);
	width: 726px;
	margin: 0 auto;
	padding-top: calc(50vh - 18px);
	padding-bottom: 80px;

	text-align: center;
	
	@extend .visible;
}

.fellowship--hidden {
	@extend .hidden;
}

.fellowship__image {
	margin-bottom: 70px;
}

.fellowship__elliott {
	margin-bottom: 40px;
}

.fellowship__discover {
	&.js-reveal {
		transform: none;
	}
}

.fellowship__back {
	position: fixed;
	left: 50%;
	bottom: 70px;
	transform: translate(-50%, 0);

	@extend .hidden;
	
	&.fellowship__back--visible {
		@extend .visible;
	}
}


@include max-screen(958px) {
	.fellowship {
		width: 100%;
		padding: 160px 24px 0;
		box-sizing: border-box;
	}
	.paragraph--big {
		font-size: 36px;
		text-align: left;
	}

	.paragraph--medium {
		font-size: 36px;
		text-align: left;
	}

	.paragraph--small {
		width: 100%;
	}

	.paragraph__row, .paragraph__column {
		display: block;
	}

	.paragraph__column--left, .paragraph__column--right {
		padding: 0;
	}

	.fellowship__interview, .fellowship__play {
		padding: 0;
	}

	.fellowship__artistname {
		width: 100%;
	}

	.paragraph, .paragraph__row {
		margin-bottom: 40px;
	}
}