.page--fellowship {
	position: absolute;
}

.fellowship {
	width: 958px;
	margin: 0 auto;
	padding-top: 160px;
}

.fellowship__presentation {
	position: relative;
	width: 100%;
	height: 100%;
	// padding-top: 152px;
	box-sizing: border-box;
}

.fellowship__artist {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.fellowship__discover {
    position: relative;
    margin-bottom: 80px;
	
	font-size: 16px;
	text-align: center;
}

.fellowship__scroll {
	width: 36px;
	height: 36px;
	margin: 0 auto;

	cursor: pointer;

	transform-origin: 50% 50%;
	transform: rotate(-90deg) translate(-50%, 0);

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.fellowship__video {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.fellowship__interview {
	width: 100%;
	padding-left: 64px;

	cursor: pointer;
}

.fellowship__play {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	padding-left: 64px;

	text-align: center;

	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
	}
}

.paragraph, .paragraph__row {
	margin-bottom: 84px;
}

.paragraph__row {
	.paragraph {
		margin-bottom: 0;
	}
}

.paragraph--big {
	@extend .title-font;
	font-size: 70px;
	text-align: center;
}

.paragraph--medium {
	@extend .title-font;
	font-size: 36px;
	text-align: center;
}

.paragraph--small {
	width: 474px;

	font-size: 24px;
	line-height: 28px;
}

.paragraph--center {
	margin-left: auto;
	margin-right: auto;
}

.paragraph__row {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.paragraph__column {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
}

.paragraph__column--left {
	padding-right: 64px;
}

.paragraph__column--right {
	padding-left: 64px;
}

.fellowship__button {
	font-size: 14px;
	padding-bottom: 10px;
}

.fellowship__artistname {
	width: 716px;
}