.page--fellowship {
	position: absolute;
	
	// &:after {
	// 	content: '';
	// 	position: fixed;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-image: url('../assets/images/bg-fellowship.jpg');
	// 	background-size: cover;
	// }
}

.fellowship__presentation {
	position: relative;
	width: 100%;
	height: 100%;
	// padding-top: 152px;
	box-sizing: border-box;
}

.fellowship__artist {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.fellowship--text {
	position: relative;
	width: 716px;
	height: 100%;
	margin: 0 auto;
	z-index: 10;
}

.fellowship__desc {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	transform: translate(-50%, -50%);
}

.fellowship__biography {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	transform: translate(-50%, -50%);
}

.fellowship__biography--hidden {
	display: none;
}

.fellowship__paragraph {
	margin-bottom: 40px;

	text-indent: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.fellowship__discover {
	position: absolute;
	left: 50%;
	bottom: 56px;
	transform: translate(-50%, 0);
	
	font-size: 18px;
}

.fellowship__scroll {
	width: 36px;
	height: 36px;
	margin: 0 auto;

	cursor: pointer;

	transform-origin: 50% 50%;
	transform: rotate(-90deg) translate(-50%, 0);

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.fellowship__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background: url('../assets/images/elliott-erwitt.jpg') center -12px;
	// background-size: cover;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: -5%;
		width: 100%;
		height: 110%;

		background-color: #000;
		opacity: 0.6;
	}
}

.fellowship__elliott {
	position: absolute;
	width: calc(100% + 28px);
	left: -14px;
	top: -160px;
}

.fellowship__links {
	position: absolute;
	left: 50%;
	bottom: 60px;
	transform: translate(-50%, 0);
}

.fellowship__link {
	position: relative;
	margin: 0 auto 12px;

	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.fellowship__interview {
	width: 716px;
}

.fellowship__interview--hidden {
	display: none;
}

.fellowship__video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 716px;
	height: auto;
}