.gallery {
	width: 800px;
	margin: 0 auto;
}

.gallery__item {
	position: relative;
	float: left;
	width: calc(12.5% - 24px);
	height: 120px;
	overflow: hidden;
	margin: 0 24px 24px 0;

	cursor: pointer;
}

.gallery__item:after {
	content: '';
	position: absolute;
	/*left: 50%;*/
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	/*transform: translate(-50%, 0);*/
	/*opacity: 0;*/

	background-color: #000000;

	/*transition: opacity 0.3s ease-out;*/
	transition: width 0.3s ease-out;
}

.gallery__item:hover:after {
	/*opacity: 1;*/
	width: 102%;
}

.gallery__item--large {
	width: calc(25% - 24px);
}

.gallery__image {
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}