.page--home {
	@extend .full;
	position: absolute;
}

.home {
	position: relative;
	width: 726px;
	padding-top: calc(50vh - 90px);
	padding-bottom: 80px;
	margin: 0 auto;

	text-align: center;
}

.canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	display: none;
}

@include max-screen(700px) {
	.home {
		width: 100%;
		padding: 0 24px;
		box-sizing: border-box;
	}
}