.news {
	width: 958px;
	margin: 0 auto;
	padding-top: 160px;
}
.news__item {
	display: table;
	width: 100%;
	margin-bottom: 100px;
}

.news__item--left {
	.news__content {
		// @extend .title-font;
		padding-left: 55px;
	}
	.news__date {
		// font-family: $text-font;
		padding-right: 55px;
	}
}

.news__item--right {
	.news__content {
		// font-family: $text-font;
		padding-right: 55px;
	}
	.news__date {
		@extend .title-font;
		padding-left: 55px;
	}
}

.news__content {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;

	font-family: $text-font;
	font-size: 24px;
	line-height: 28px;
}

.news__date {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
	vertical-align: middle;

	font-family: $title-font;
	text-align: center;
	font-size: 60px;
}
