.news {
	position: fixed;
	top: 0;
	left: calc(50% - 479px);
	width: 958px;
	margin: 0 auto;
	padding-top: 200px;
}
.news__item {
	display: table;
	width: 100%;
	margin-bottom: 100px;

	opacity: 0;
	transform: translate(0, 100px);
}

.news__item--left {
	.news__content {
		padding-left: 55px;
	}
	.news__date {
		padding-right: 55px;
	}
}

.news__item--right {
	.news__content {
		padding-right: 55px;
	}
	.news__date {
		@extend .title-font;
		padding-left: 55px;
	}
}

.news__content {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
}

.news__date {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
	vertical-align: middle;

	text-align: center;
}

@include max-screen(958px) {
	.news {
		width: 100%;
		padding: 160px 24px 0;
		box-sizing: border-box;
	}
	.news__item {
		display: block;
		margin-bottom: 100px;
	}

	.news__item--left {
		.news__content {
			padding: 0;
		}
		.news__date {
			padding: 0;
			text-align: left;
		}
	}

	.news__item--right {
		.news__content {
			padding: 0;
		}
		.news__date {
			padding: 0;
			text-align: right;
		}
	}

	.news__content {
		display: block;
		width: 100%;
	}

	.news__date {
		display: block;
		width: 100%;
	}
}