.payment {
	width: 958px;
	margin: 0 auto;
	padding-top: 160px;
}

.payment__form {
	display: table;
	table-layout: fixed;
	width: 100%;
}

$margin: 120px;
.payment__column {
	display: table-cell;
	vertical-align: top;
	padding: 0 $margin/4;

	&:first-child {
		padding: 0 $margin/2 0 0;
	}
	&:last-child {
		padding: 0 0 0 $margin/2;
	}
}

.payment__method {
	margin-top: 96px;
}

.payment__pay {
	margin-top: 30px;
	margin-bottom: 60px;

	@extend .text-font;
	font-size: 14px;
}

#paymentForm {
	display: none;
}