.print {
	display: table;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 958px;
}

.print__left {
	position: relative;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.print__image {
	position: relative;
}

.print__image--portrait {
	width: 60%;
	float: right;
	margin-right: 24px;
}

.print__tech {
	position: absolute;
	left: 0;
	bottom: -24px;
	transform: translate(0, 100%);
	width: 110%;
	margin-left: -5%;
	
	font-size: 14px;
	text-align: center;

	p {
		line-height: 16px;
	}
}

.print__infos {
	width: 50%;
	display: table-cell;
	vertical-align: middle;

	text-align: center;
}

.print__artist {
	font-size: 30px;
	line-height: 36px;
}

.print__artist--small {
	font-size: 16px;
	line-height: 18px;
}

.print__location, .print__artist, .print__title {
	font-family: $text-font;
	font-size: 24px;
	line-height: 28px;
}

.print__details--small {
	font-size: 16px;
	line-height: 18px;
}

.print__title {
	margin-bottom: 10px;
	
	@extend .title-font;
	font-size: 16px;
}

// .print__city {
// 	font-style: italic;
// }

.print__price {
	margin: 40px 0;

	font-family: $text-font;
	font-size: 16px;
}

.print__desc {
	width: 236px;
	margin: 40px auto;

	text-align: left;
}

.print__serials {
	position: relative;
}

.print__serial-opt {
	position: relative;
	display: inline-block;
	margin-right: 10px;

	font-size: 16px;
}

.print__count {
	position: absolute;
	right: -36px;
	bottom: -12px;
	
	@extend .title-font;
	font-size: 12px;
}

.print__serial-list {
	display: inline-block;
}

.print__serial {
	position: relative;
	display: inline-block;
	margin-right: 24px;

	font-family: $text-font;
	font-size: 16px;

	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		right: -20px;
		top: 50%;
		transform: translate(0, -50%);
		width: 16px;
		height: 1px;

		background-color: $black;
	}

	&:last-child {
		&:after {
			display: none;
			width: 0;
			height: 0;
		}
	}
}

.print__serial--enabled {
	font-weight: bold;
}

.print__buy {
	margin-top: 40px;
	padding-bottom: 10px;
}
