.print {
	display: table;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 958px;
}

.print__left {
	position: relative;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.print__image {
	position: relative;
}

.print__image--portrait {
	width: 60%;
	float: right;
	margin-right: 24px;
}

.print__tech {
	position: absolute;
	left: 0;
	bottom: -24px;
	transform: translate(0, 100%);
	width: 110%;
	margin-left: -5%;
	
	font-size: 14px;
	text-align: center;

	p {
		line-height: 16px;
	}
}

.print__infos {
	width: 50%;
	display: table-cell;
	vertical-align: middle;

	text-align: center;
}

.print__artist {
	font-size: 30px;
	line-height: 36px;
}

.print__artist--small {
	font-size: 16px;
	line-height: 18px;
}

.print__location, .print__artist {
	font-family: $text-font;
	font-size: 24px;
	line-height: 28px;
}

.print__location--small {
	font-size: 16px;
	line-height: 18px;
}

.print__title {
	margin-bottom: 10px;
	
	@extend .title-font;
	font-size: 24px;
	line-height: 28px;
}

.print__info--small {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 18px;
}

// .print__city {
// 	font-style: italic;
// }

.print__price {
	margin: 40px 0;

	font-family: $text-font;
	font-size: 16px;
}

.print__desc {
	width: 236px;
	margin: 40px auto;

	text-align: left;
}

.print__serials {
	position: relative;
}

.print__serial-opt {
	position: relative;
	display: inline-block;
	margin-right: 10px;

	font-size: 16px;
}

// .print__count {
// 	position: absolute;
// 	right: -36px;
// 	bottom: -12px;
	
// 	@extend .title-font;
// 	font-size: 12px;
// }

.print__select {
	position: relative;
	display: inline-block;
	vertical-align: top;
	// width: 20px;
	// height: 20px;
}

.print__serial--selected {
	width: 24px;
	height: 24px;

	border: 1px solid $black;

	font-family: $text-font;
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	cursor: pointer;
}

.print__serial-list {
	// display: inline-block;
	position: absolute;
	left: 0;
	top: 25px;
	width: 24px;
	padding: 2px 0;

	border: 1px solid $black;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
	}
}

.print__serial {
	position: relative;

	font-family: $text-font;
	font-size: 16px;
	line-height: 18px;

	cursor: pointer;
}

.print__serial--disabled {
	cursor: default;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		height: 1px;

		background-color: $black;
	}
}

.print__buy {
	margin-top: 40px;
	padding-bottom: 10px;
}
