.page--project {
	height: 100%;
}

.project {
	height: 100%;
	position: relative;
}

.project__intro {
	position: relative;
	min-height: 100vh;
	padding-top: 160px;
	box-sizing: border-box;
	z-index: 10;
} 

.project__content {
	position: absolute;
	left: 50%;
	top: calc(50% + 40px);
	transform: translate(-50%, -50%);
}

.project__artist {
	margin-bottom: 64px;

	@extend .title-font;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
}

.project__desc {
	width: 474px;
	margin: 0 auto 60px;
}

.project__paragraph {
	margin-bottom: 12px;

	// text-indent: 50px;
	line-height: 22px;
}

.project__discover {
	margin: 0 auto;
	width: 36px;
	height: 36px;

	cursor: pointer;

	transform-origin: 50% 50%;
	// transform: rotate(-90deg) translate(-50%, 0);
	transform: rotate(-90deg);

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.project__slideshow {
	position: relative;
	width: 100%;
	min-height: 100vh;
	// $top: calc(-20vh - 40px);
	// transform: translate(0, $top);
}

.project__prints {
	position: relative;
	z-index: 10;
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);
	width: 716px;
	max-height: 478px;
	height: 60vh;
	margin: 0 auto;
}

.project__print {
	height: 100%;
	width: auto;
	margin: 0 auto;
	text-align: center;

	cursor: pointer;
}

.project__image {
	height: 100%;
	width: auto;		
}

.project__print--prev, .project__print--next {
	display: none;
}

.project__prev, .project__next {
	position: absolute;
	top: calc(50% - 18px);
	width: 36px;
	height: 36px;
	
	cursor: pointer;

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.project__prev {
	left: -100px;
}

.project__next {
	right: -100px;
	transform-origin: 50% 50%;
	transform: rotate(180deg) translate(0, -50%);
}

.project__story {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
	transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, end);

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: $black;
		opacity: 0.6;
	}

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, start);
	}

	p {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 474px;
		z-index: 10;

		text-indent: 50px;
		line-height: 28px;
	}
}

.project__footer {
	display: table;
	table-layout: fixed;
	// position: absolute;
	// left: 50%;
	// bottom: 40px;
	// transform: translate(-50%, 0);
	width: 716px;
	margin: 60px auto 0;

	font-size: 16px;
}

.project__section {
	display: table-cell;
	vertical-align: middle;
}

.project__button {
	transform: translate(0, 3px);
	.button__content {
		padding-bottom: 6px;
	}
}

.project__infos {
	text-align: center;
}

.project__back {
	opacity: 0;
	display: none;
}