.page--project {
	height: 100%;
}

.project {
	height: 100%;
	position: relative;
}

.project--relative {
	.project__intro .project__content {
		position: relative;
		transform: none;
		left: initial;
	}
}

.project__intro {
	position: relative;
	min-height: 100vh;
	padding-top: 160px;
	box-sizing: border-box;
	z-index: 10;

	.project__content {
		top: calc(50% + 40px);
	}
} 

.project__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.project__artist {
	margin-bottom: 64px;

	@extend .title-font;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
}

.project__desc {
	width: 474px;
	margin: 0 auto 60px;
}

.project__paragraph {
	margin-bottom: 12px;

	// text-indent: 50px;
	line-height: 22px;
}

.project__discover {
	margin: 0 auto;
	width: 36px;
	height: 36px;

	cursor: pointer;

	transform-origin: 50% 50%;
	// transform: rotate(-90deg) translate(-50%, 0);
	transform: translate(0, 0) rotate(-90deg);

	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start), transform 0.4s ease-out 0.1s;

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.project__loading {
	margin-bottom: -14px;

	font-size: 14px;
	text-align: center;
	
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start), transform 0.4s ease-out;
}

.project__discover--disabled, .project__loading--disabled {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end), transform 0.4s ease-out;
}

.project__discover--disabled {
	transform: translate(0, -20px) rotate(-90deg);
}

.project__loading--disabled {
	transform: translate(0, 20px);
}

.project__slideshow {
	position: relative;
	width: 100%;
	min-height: 100vh;
	// $aze: calc(-20vh - 40px);
	// $rty: calc(-50vh + 200px);
	// $top: min($aze, $rty);

	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
}

.project__slideshow--disabled {
	min-height: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);

	.project__prints {
		transform: translate(0, 40px);
	}
}

.project__prints {
	position: relative;
	z-index: 10;
	// position: absolute;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);
	width: 716px;
	max-height: 478px;
	height: 68vh;
	margin: 0 auto;

	transform: translate(0, 0);
	transition: transform 0.4s ease-out;
}

.project__print {
	@extend .vertical-center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;

	cursor: pointer;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.project__image {
	height: 100%;
	width: auto;
}

.project__print--current {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out 0.4s, visibility 0.4s steps(1, start) 0.4s;
}

.project__print--prev, .project__print--next {
	display: none;
}

.project__prev, .project__next {
	position: absolute;
	top: calc(50% - 18px);
	width: 36px;
	height: 36px;
	
	cursor: pointer;

	&:hover {
		.arrow:before {
			width: 30px;
		}
	}
}

.project__prev {
	left: -100px;
}

.project__next {
	right: -100px;
	transform-origin: 50% 50%;
	transform: rotate(180deg) translate(0, -50%);
}

.project__story {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
	transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, end);

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: $black;
		opacity: 0.6;
	}

	&.enabled {
		visibility: visible;
		opacity: 1;
		transition: opacity 800ms $easeOutCubic, visibility 800ms steps(1, start);
	}

	p {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 474px;
		z-index: 10;

		text-indent: 50px;
		line-height: 28px;
	}
}

.project__footer {
	position: absolute;
	// bottom: 40px;
	// left: 0;
	display: table;
	table-layout: fixed;
	// position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%, 0);
	width: 716px;
	// width: 100%;
	// margin: 60px auto 0;

	font-size: 16px;
}

.project__section {
	display: table-cell;
	vertical-align: bottom;
}

.project__button {
	transform: translate(0, 6px);
	.button__content {
		padding-bottom: 6px;
	}
}

.project__infos {
	text-align: center;
}

.project__back {
	opacity: 0;
	display: none;
}