.front-container {
	position: relative;
	z-index: 20;
}

.header {
}

.header__title {
	position: absolute;
	left: 0;
	top: 36px;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.header__menu {
	position: fixed;
	left: 48px;
	bottom: 0;
	padding: 0 36px;
	width: 100vh;
	box-sizing: border-box;
	
	transform-origin: 0 100%;
	transform: rotate(-90deg);
}

.header__list {
}

.header__item {
	width: 25%;
	display: inline-block;
	
	text-align: center;
	font-size: 16px;

	&:first-child {
		text-align: left;
	}
	&:last-child {
		text-align: right;
	}
}

.submenu {
	position: fixed;
	right: 24px;
	top: 50%;
	transform-origin: 100% 100%;
	transform: rotate(-90deg) translate(50%, -50%);

	font-size: 16px;

}

.footer {
	position: fixed;
	right: 36px;
	bottom: 36px;

	font-size: 14px;
	line-height: 18px;
}