.front-container {
	position: relative;
	z-index: 20;
}

.header {
}

.header__title {
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, 0);

	text-align: center;
	font-size: 24px;
    line-height: 24px;
	@extend .title-font;
}

.header__title--fixed {
	position: fixed;
}

.header__subtitle {
	padding-top: 6px;
	
	font-family: $text-font;
	text-transform: initial;
}

.header__menu {
	position: fixed;
	left: 68px;
	bottom: 0;
	padding: 0 15px;
	width: 100vh;
	box-sizing: border-box;
	
	transform-origin: 0 100%;
	transform: rotate(-90deg);
}

.header__list {
}

.header__item {
	display: inline-block;
	margin-right: calc(100% / 3 - 468px / 3); // 217px = somme width menu items
	
	@extend .title-font;
	text-align: center;
	font-size: 18px;

	&:first-child {
		text-align: left;
		a {
			float: left;
			clear: left;
		}
	}
	&:last-child {
		margin-right: 0;
		text-align: right;
		a {
			float: right;
			clear: right;
		}
	}

	a {
		display: table;
		// line-height: 28px;
		margin: 0 auto;
		padding: 0 25px;

		&:hover {
			p:after {
				animation: buttonHover 0.2s ease-out forwards;
			}
		}
	}

	p {
		padding-bottom: 10px;
	}
}

.submenu {
	position: fixed;
	right: 16px;
	top: 50%;
	transform-origin: 100% 100%;
	transform: rotate(-90deg) translate(50%, -50%);
	z-index: 100;

	@extend .title-font;
	font-size: 18px;

	a {
		display: block;
		margin: 0 auto;
		padding: 0 25px;

		&:hover {
			p:after {
				animation: buttonHover 0.2s ease-out forwards;
			}
		}
	}

	p {
		padding-bottom: 10px;
	}
}

.footer {
	position: fixed;
	right: 40px;
	bottom: 40px;

	font-family: $text-font;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
}