.front-container {
	position: relative;
	z-index: 20;
}

.header {
}

.header__title {
	position: absolute;
	left: 50%;
	top: 36px;
	transform: translate(-50%, 0);

	text-align: center;
	font-size: 24px;
    line-height: 24px;
}

.heaser__subtitle {
	font-family: 'Stanley';
}

.header__menu {
	position: fixed;
	left: 48px;
	bottom: 0;
	padding: 0 36px;
	width: 100vh;
	box-sizing: border-box;
	
	transform-origin: 0 100%;
	transform: rotate(-90deg);
}

.header__list {
}

.header__item {
	width: 25%;
	display: inline-block;
	
	text-align: center;
	font-size: 16px;

	&:first-child {
		text-align: left;
		a {
			float: left;
			clear: left;
		}
	}
	&:last-child {
		text-align: right;
		a {
			float: right;
			clear: right;
		}
	}

	a {
		display: table;
		line-height: 28px;
		margin: 0 auto;
	}
}

.submenu {
	position: fixed;
	right: 24px;
	top: 50%;
	transform-origin: 100% 100%;
	transform: rotate(-90deg) translate(50%, -50%);

	font-size: 16px;

}

.footer {
	position: fixed;
	right: 40px;
	bottom: 40px;

	font-size: 12px;
	line-height: 14px;
	text-align: right;
}