.relative {
	position: relative;
	width: 100%;
	height: 100%;
}

.full {
	width: 100%;
	height: 100%;
}

.vertical-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s steps(1, end);
}

.full-block {
	position: absolute;
	@extend .top-left;
}

.underline {
	text-decoration: underline;
}

.text {
	@extend .text-font;
	font-size: 16px;
	line-height: 19px;
}

.text--center {
	text-align: center;
}

.response--success {
	margin-bottom: 12px;
	
	text-align: center;
	font-size: 14px;
	color: #00FF00;
}

.response--error {
	margin-bottom: 12px;

	text-align: center;
	font-size: 14px;
	color: #FF0000;
}

.text--small {
	font-size: 10px;
	line-height: 12px;
}

.title {
	margin-bottom: 70px;
	@extend .title-font;
	font-size: 36px;
}

.title--center {
	text-align: center;
}

.title--absolute {
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, 0);
}

.subtitle {
	margin-bottom: 10px;
	@extend .title-font;
	font-size: 24px;
}

@include max-screen(958px) {
	.button {
		font-size: 14px;
		line-height: 14px;
	}
	.mobile-button {
		position: fixed;
		left: 0;
		bottom: 0;
		transform: none;
		width: 100%;
		height: 60px;
		background-color: black;
		text-align: center;
		line-height: 60px;
		box-sizing: border-box;
		border-top: 1px solid white;
	}
	.title {
		box-sizing: border-box;

		font-size: 24px;
		text-align: left;
	}
	.title--absolute {
		width: 60%;
		top: 18px;
		text-align: center !important;
	}
	.table {
		font-size: 10px;
	}
}