// fonts
$title-font: 'hc7modern';
// $text-font: 'UniversLTStd';
$text-font: 'Stanley';

.title-font {
	font-family: $title-font;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-font {
	font-family: $text-font;
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.HC7Craft {
	font-family: 'HC7Craft';
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.stanley {
	font-family: 'Stanley';
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Custom vars
$min-middle-width: 960px;
$globalFontSize: 20px;
$overallMargin: 40px;

// Breakpoints
$MQ_XSMALL: 320px;
$MQ_SMALL: 480px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;
$MQ_XXLARGE: 1680px;

// Color
$white: #ffffff;
$black: #000000;
$gray: #232323;

@keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

@keyframes fadeOutFromBlock {
    0% {
        display:block; 
        opacity: 1;
    }

    99% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: none ; 
        opacity: 0;
    }
}
