@include font-face('CircularBook', '../font/circularbook/CircularStd-Book_gdi');
@include font-face('PxGrotesk', '../font/px-grotesk/Px-Grotesk_Regular');
@include font-face('Stanley', '../font/stanley/Stanley_Regular');

#font-charger {
	left: -10000px;
	top: -10000px;
	position: absolute;
	@include opacity(0);
	#CircularBook {
		font-family: 'CircularBook';
	}
}