// fonts
$title-font: 'hc7modern';
$text-font: 'UniversLTStd';

.title-font {
	font-family: $title-font;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-font {
	font-family: $text-font;
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.HC7Craft {
	font-family: 'HC7Craft';
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.stanley {
	font-family: 'Stanley';
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Custom vars
$min-middle-width: 960px;
$globalFontSize: 20px;
$overallMargin: 40px;

// Breakpoints
$MQ_XSMALL: 320px;
$MQ_SMALL: 480px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;
$MQ_XXLARGE: 1680px;

// Color
$white: #ffffff;
$black: #000000;
$gray: #232323;
